/*HEADER*/ 
.header-color {
background-color: var(--green-primary-color);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5rem;
color: var(--white-color);
}
.left-icons {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 0.5rem;
}
.right-icons {
display: flex;
justify-content: flex-end;
gap: 1rem;
}
.contact-info {
display: flex;
gap: 0.5rem;
align-items: center;
margin-left: 20px; 
}
.bottom-icon {
display: flex;
}
.middle-section {
margin: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar {
  display: flex;
  gap: 20px;
  font-weight: 800;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-link {
  color: var(--green-primary-color);
  text-decoration: none;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.5rem;
}

.nav-link:hover {
  color: var(--white-color);
  background-color: var(--green-primary-color);
  border-radius: 5px;
  padding: 0.5rem;
}
.nav-link.active {
  color: var(--white-color);
  font-size: 1.1rem;
  background-color: var(--green-primary-color);
}
.phone, .email {
  text-decoration: none;
  color: var(--white-color);
}
/*HEADER END*/ 

/*SOCIAL MEDIA*/
.right-icons a:focus {
  outline: 4px solid var(--orange-primary-color);
  border-radius: 4px;
  padding-top: 2px;
}


/*BUTTON LIGHT*/ 
.buttonlight {
background-color: var(--orange-primary-color);
color: var(--green-primary-color);
border-radius: 5px;
width: 130px;
height: 45px;
font-weight: 700;
border: none;
cursor: pointer;
}
.buttonlight:hover {
  background-color: var(--white-color);
}
/*BUTTON END*/

/*BUTTON DARK*/
.buttondark {
background-color: var(--orange-primary-color);
color: var(--green-primary-color);
border-radius: 5px;
width: 130px;
height: 45px;
font-weight: 700;
border: none;
cursor: pointer;
}
.buttondark:hover {
  background-color: var(--dark-hover-color);
  color: var(--white-color);
}
/*BUTTON DARK END*/

/*HERO*/ 
.hero-icon {
  line-height: 0;
}
.hero-background {
  background-color: var(--green-hero-color);
}
.h4-headline {
  color: var(--orange-primary-color);
}
.h1-headline {
  color: var(--light-green-headline-color);
}
.hero-ingress {
  font-size: 1rem;
  color: var(--white-color);
  padding-bottom: 15px;
  max-width: 90%;
}
.text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.hero-wrapper {
  justify-content: center;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  text-align: center;
}
.hero-small {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 100px;
  padding-bottom: 100px;
}
/*HERO END*/ 

/*FOOTER*/
.footer-background-color {
background-color: var(--green-primary-color);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  padding: 20px;
}
.footer-icon {
  display: flex;
  align-items: center;
}
.footer-wrapper {
  padding: 1rem;
  align-items: center;
}
.small-icon {
    padding: 1rem;
  justify-content: center;
}
.white-link {
color: var(--white-color);
text-decoration: none;
display: flex;
align-items: center;
}
/*SUBSCRIBE*/
.subscribe-color {
background-color: var(--primary-subscribe-color);
}
.subscribe-title {
font-size: 2.5rem;
font-weight: 800;
color: var(--green-primary-color);
padding-bottom: 20px;
}
.subscribe-ingress {
font-size: 1rem;
color: var(--green-primary-color);
}
.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;

}
.orange-subscribe-button,
.search-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: var(--orange-primary-color);
    color: var(--green-primary-color);
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
  }
  .search-mobile-button:hover,
.orange-subscribe-button:hover {
    background-color: var(--orange-primary-hover-color);
  }
.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;  /*MELLANRUMMET MELLAN KNAPPEN OCH RUBRIKEN*/
}

.search-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.subscribe-button {
    display: flex;
    justify-content: center;
}
.input-wrapper input {
  height: 50px;
  width: 100%;
  min-width: 400px;
  padding-left: 35px;
  border-radius: 5px 5px 5px 5px;
  border: none; 
  border: 2px solid var(--orange-primary-color);
}
/*SUBSCRIBE END*/

/*FOOTER END*/

/*BOX1*/
.box-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.gray-icon img {
  cursor: default;
}
.box-container2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.box-1 {
  margin: 2rem;
}
.box-positioning {
  position: relative;
}
.green-icon {
  position: absolute;
  bottom: -50px;
  left: 25px;
}
.numbers {
  color: var(--orange-primary-color);
  margin: 1rem;
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
}
.numbers-text {
  font-size: 1rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
}
.number-text-container {
  position: absolute;
  bottom: -30px;
  right: 65px;
  display: flex;
  padding: 1rem;
  cursor: default;
  gap: 1rem; 
}
/*BOX1 END*/

/*BOX2*/
.positioning-wrapper {
display: flex;
}
.positionering-text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.yellow-title {
color: var(--orange-primary-color);
 margin-bottom: 1rem;
}
.green-title {
   margin-bottom: 1rem;
}
.vm-wrapper {
  display: flex;
  padding: 0.5rem;
}
.button-icon-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.phone-icon-text-wrapper {
  display: flex;
  gap: 1.5rem;
  margin-left: 11.5rem;
}
.phone-icon-text-wrapper2 {
  display: flex;
  gap: 1.5rem;
}
.phone-icon-number {
  text-decoration: none;
  color: var(--green-primary-color);
  font-weight: 800;
}
.phoneicon-circle {
  background-color: var(--green-primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*BOX2 END*/

/*LOGOIPSUM*/
.logoipsum-background {
  background-color: var(--logoipsum-color);
}
.logoipsum-flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
/*LOGOIPSUM END*/

/*SERVICESCOLUMN*/
.green-ingress-container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
margin-left: 2rem;
}
.columns-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: default;
}
.column-margin {
  margin-bottom: 4rem;
}
/*SERVICESCOLUMN END*/

/*YELLOWBORDER*/
.yellow-border-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 800;
}

.yellow-border-ingress {
  font-size: 1rem;
}
.yellow-border {
border: 4px solid var(--gray-border-color);
border-radius: 10px;
padding: 3rem;
margin: 0.4rem;
max-width: 400px;
}
.yellow-border:hover {
border: 4px solid var(--orange-primary-color);
}
/*YELLOWBORDER END*/

/*CHOOSE-US-COLUMNS*/
.chooseus-box img {
  padding-top: 2rem;
}
.choose-us-column {
  display: flex;
  align-items: center;
}
.choose-us-text-section {
  margin-left: 1.5rem;
  width: 500px;
}
.choose-us-title {
  font-weight: 800;
  margin-top: 1.5rem;
   margin-bottom: 1rem;
}
.choose-us-ingress {
  margin-bottom: 2rem;
  font-size: 18px;
}
/*CHOOSE-US-COLUMNS END*/

/*TITLELAYOUT*/
.chooseus-yellow-title {
color: var(--orange-primary-color);
padding: 1rem;
background-color: var(--green-hero-color);
border-radius: 10px;
margin-top: 2rem;
}
.chooseus-title-container {
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 1rem;
}
.chooseus-green-title {
  width: 640px;
}
.chooseus-ingress, .contact-us-ingress {
  margin-left: 2rem;
  width: 650px;
}
.contact-us-ingress {
  padding-bottom: 1rem;
}
/*TITLELAYOUT END*/

/*WHYCHOOSEUS*/
.chooseus-background-color {
  background-color: var(--logoipsum-color);
}
.chooseus-title-container {
  margin-bottom: 1rem;
}
.chooseus-container {
  display: flex;
}
.chooseus-wrapper {
  padding: 0.5rem;
}
.chooseus-container {
  padding-bottom: 4rem;
}
.chooseus-box {
  padding-left: 11rem;
}
/*WHYCHOOSEUS END*/


/*PRICINGPLANCOLUMN*/
.border-pricing-container {
  width: 350px;
  height: 550px;
  border: 3px solid var(--border-pricing-column);
  background-color: var(--hover-pricing-background);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.width-container {
  width: 250px;
}
.dollar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.month {
  padding-left: 1rem;
  font-weight: 800;
padding-top: 1rem; 
}
.pricetext {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  color: var(--green-primary-color)
}
.dollar-sign {
  display: flex;
  padding-bottom: 4rem;
  padding-right: 0.5rem;
  color: var(--orange-primary-color);
}
.amounttext {
  color: var(--orange-primary-color);
  font-weight: 800;
}
.pricing-icons {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 0.5rem;
}
.buttons-container {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.icon-columns-container {
  padding-top: 1.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.pricing-ingress-text {
  padding: 0.2rem;
  text-align: center;
  padding-bottom: 2rem;
}
.pricing-ingress {
  padding: 0.2rem;
  text-align: center;
}
.border-pricing-container:hover {
  background-color: var(--green-primary-color);
}
.pricing-icons {
  display: flex;
}
.bi-check-circle-fill {
  color: var(--green-primary-color);
}
.pricing-ingress {
  color: var(--green-primary-color);
}
.border-pricing-container {
color: var(--green-primary-color);
}
.border-pricing-container:hover .bi-check-circle-fill {
  color: var(--orange-primary-color);
}
.border-pricing-container:hover .pricing-ingress,
.border-pricing-container:hover .pricetext,
.border-pricing-container:hover .month,
.border-pricing-container:hover .pricing-ingress-text {
  color: var(--white-color);
}
/*PRICINGPLANCOLUMN END*/

/*PRICINGPLAN*/
.pricingplan-container {
  display: flex;
  justify-content: space-between;
}
/*PRICINGPLAN END*/

/*GREENTEXT*/
.green-color-container {
  background-color: var(--green-hero-color);   
}
.green-container { 
display: flex;
flex-direction: column;
text-align: center;
padding: 4rem;
}
.greentitle, .greeningresse {
color: var(--white-color);
padding: 1rem;
}
.greenbutton {
padding-top: 1rem;
}
/*GREENTEXT END*/


/*PAGENOTFOUND*/
  .page-not-found-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 700px;
  }

.page-not-found-background {
  background-color: var(--green-hero-color);
}
.page-not-found-title {
  color: var(--orange-primary-color);
  padding-bottom: 1rem;
}
.page-not-found-ingress {
  color: var(--white-color);
  padding-bottom: 1rem;
}
.page-not-found-ops {
  color: var(--white-color);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.page-not-found-button {
  padding: 1rem;
}
/*PAGENOTFOUND END*/

/*SOCIALMEDIAPAGE*/
.socialmedia-backgroundcolor {
 background-color: var(--green-hero-color);
}
.logogubbe {
display: flex;
padding-left: 30%;
}
.socialmedia-container {
  display: flex;
  justify-content: space-between;
}
.socialmedia-border-column {
  background-color: var(--socialmedia-background-color);
  padding-left: 4rem;
  padding-right: 2rem;
  padding-top: 110px;
  width: 650px;
}
.socialmedia-border {
    display: flex;
    flex-direction: column;
}
.socialmedia-iconlayout {
  padding-top: 1.5rem;
}
.socialmedia-ingress-column {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.socialmedia-ingress {
  padding-top: 1.5rem;
  width: 500px;

}
.icon-layout {
    display: flex;
}
.phoneicon {
  width: 30px; 
  height: 30px;
  color: var(--orange-primary-color);
}
.socialmedia-text-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    width: 500px;
}
.socialmedia-oursocialmedia {
  font-weight: 800;
}
.socialmedia-line {
  height: 2px;
  width: 20%;
  background-color: var(--black-color);
}

/*BLOGS*/
.column-blog-container {
  display: flex;
  gap: 1.5rem;
}
/*BLOGS END*/

/*BLOGCOLUMN*/
.column-wrapper {
    align-self: flex-start;
}
.item-blog-title {
  cursor: pointer;
}
.column-blog-container {
  margin-bottom: 5rem;
}
.column-green-1 {
  display: flex;
  justify-content: space-between;
  align-items: start; 
  flex-direction: column;
  background-color: var(--green-primary-color);
  width: 470px;
  height: 100%;
  padding: 1rem 1.5rem 2rem 1.5rem;
  margin-bottom: 1rem;
}
  .column-img {
  display: flex;
  justify-content: center;
}
.column-ingress, .kalender-text, .column-title, .column-datum, .bi-calendar-range, .column-yellow-ingress {
  color: var(--white-color);
  padding-top: 1rem;
}
.column-yellow-ingress {
  color: var(--orange-primary-color);
  padding-top: 1.5rem;
  font-weight: 800;
}
.column-green-1:hover .column-yellow-ingress {
    color: var(--green-hero-color);
}
.kalender-text {
  padding-left: 0.5rem;
}
.column-title {
  font-weight: 800;
}
.column-icon-datum {
  padding-top: 1rem;
}
/*HOVER*/
.column-green-1:hover {
  background-color: var(--hover-pricing-background);
}
.column-green-1:hover .column-ingress,
.column-green-1:hover .kalender-text,
.column-green-1:hover .column-title,
.column-green-1:hover .column-datum, 
.column-green-1:hover .bi-calendar-range {
  color: var(--green-hero-color);
}


/*BLOGCOLUMN END*/

/*TESTIMONIALS*/
.testimonial-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.testimonials-bg {
  background-image: 
  linear-gradient(rgba(18, 55, 42, 0.7)),
  url('../assets/images/Testimonialsbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials-icon {
  border-radius: 50%;
}
.testimonials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 20px;
  gap: 1rem;
}
.testimonials-title {
  display: flex; 
  text-align: left;
  font-size: 1rem;
  font-weight: 800;
}
.testimonial-box {
  display: flex;
  position: relative; 
  height: 330px;
  border-radius: 8px;
  background-color: var(--white-color);
  flex-direction: column;
  align-items: flex-start;
}
.testimonials-comment {
  margin-top: 50px; 
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.testimonials-customer {
  display: flex;
  margin-top: auto;
  padding-left: 30px;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 30px;
  width: 90%;
}
.testimonials-icon-yellow {
  margin-left: auto;
  align-self: end;
}
.testimonials-customer .text-sections, .text-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}
.testimonial-stars {
 margin-top: 20px;
 margin-left: 30px;
}
/*TESTIMONIALS END*/

/*ACCORDION och FAQ*/
.faq-wrapper {
  display: flex;
  justify-content: start;
  padding-top: 1.5rem;
}
.accordion-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5rem;
}
.accordion-item {
  width: 800px;
}
.item-titlebar {
display: flex;
justify-content: space-between;
align-items: center;
background: var(--gray-border-color);
padding: 1.2rem;
border-radius: 5px;
margin: 0.2rem;
cursor: pointer;
}
.item-titlebar:hover{
background-color: var(--orange-primary-color);
}
.accordion-title {
  font-size: 1rem; 
  font-weight: 800;
}
.btn-accordion {
color: var(--black-color);
}
.item-content {
padding: 1rem;
}
/*ACCORDION END*/

/*ACCORDIONTITLE*/
.accordion-yellow-faq-title, .yellow-title {
color: var(--orange-primary-color);
margin-top: 3rem;
background-color: var(--green-hero-color);
border-radius: 10px;
padding: 1rem;
align-items: start;
}
.accordion-green-title{
  margin-bottom: 0.5rem;
}
.accordion-ingress{
  margin-bottom: 0.5rem;
}
/*ACCORDIONTITLE END*/

/*FORM*/
.form-container {
  background-color: var(--logoipsum-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  border-radius: 5px;
  height: 100%;
  width: 650px;
}
.form-email-phone {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.form-email-phone .input {
  flex: 1;
}
.form-unit,
.form-storage {
  width: 100%;
}
.input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--orange-primary-color);
  border: 1px solid var(--orange-primary-color);
}
input::placeholder, textarea::placeholder {
    color: var(--orange-primary-color);
}
.form-button {
  align-self: flex-start;
}
.form-text-alignment {
  flex: 1;
  display: flex;
  flex-direction: column;
}
textarea {
  height: 150px;
  resize: none;
  font-family: 'urbanist', sans-serif;
}
.red-dot {
  color: red;
  padding-left: 5px;
}
.red-dot-container {
  display: flex;
  padding-bottom: 5px;
}
.form-text-telephone {
  padding-bottom: 5px;
}
/*FORM END*/

/*FORMPAGE*/
.box-form-container {
display: flex;
justify-content: space-between;
gap: 1rem;
width: 100%;
margin-bottom: 4rem;
}
/*FORMPAGE END*/

/*TESTIMONIALS*/
.testimonials-title-ingress {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 4rem;
gap: 1rem;
}
.testimonials-yellow-title {
color: var(--orange-primary-color);
}
.testimonials-white-title {
color: var(--white-color);
}
.testimonials-small-ingress {
color: var(--white-color);
font-size: 1.1rem;
width: 1000px;
}
/*TESTIMONIALS END*/

/*BLOGACCORDION*/
.blog-accordion-item {
  display: flex;
  flex-direction: column;
}
.item-blog-title {
  order: 2;
}
.blog-content {
  order: 1;
}
/*BLOGACCORDION END*/

/*ERROR FORM*/
.successful-message-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.successful-message {
  display: flex; 
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--light-green-headline-color);
  font-size: 2rem;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.476);
}
.bi.bi-envelope-check-fill {
  font-size: 3rem;
}
.error-message {
  color: red;
  font-size: 0.8rem;
  height: 1em;
  display: block;
  margin-top: 4px;
}
/*ERROR FORM END*/

/*ERROR FORM & ERROR SUBSCRIBE BORDER*/
.input.error {
  border: 2px solid red;
  color: red; 
}
/*ERROR SUBSCRIBE*/

/*ERROR END*/


/*FORM-BOOKING*/
.form-booking-container {
  background-color: var(--logoipsum-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  border-radius: 5px;
  height: 100%;
  width: 650px;
}
.form-booking-email-phone {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.form-booking-email-phone .input {
  flex: 1;
}
.input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--black-color);
  border: 1px solid var(--orange-primary-color);
}
.form-booking-button {
  align-self: flex-start;
}
.form-booking-text-alignment {
  flex: 1;
  display: flex;
  flex-direction: column;
}
textarea {
  height: 150px;
  resize: none;
  font-family: 'urbanist', sans-serif;
}
/*FORM END*/

/*FORMPAGE*/
.box-form-booking-container {
display: flex;
justify-content: space-between;
gap: 1rem;
width: 100%;
margin-bottom: 4rem;
}
/*FORMPAGE END*/












