@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --green-primary-color: #12372A;
    --orange-primary-color: #F1C30C;
    --dark-hover-color: #12372A;
    --light-hover-color: #ffffff;
    --white-color: #ffffff;
    --black-color: #000000;
    /*HERO*/
     --green-hero-color: #355349;
     --light-green-headline-color: #F1FFEA;
     /*SUBSCRIBE*/
     --primary-subscribe-color: #FAF8EC;
     /*BOX2*/
     --gray-border-color: #ECECEC;
     /*LOGOIPSUM*/
     --logoipsum-color: #faf8ec;
     /*PRICING-COLUMNS*/
      --border-pricing-column: #ECECEC;
      --hover-pricing-background: #F1FFEA; 
  }

body {
    font-family: 'Urbanist', sans-serif;
    color: var(--green-primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
 font-size: 4.1rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
 font-size: 1.5rem;
}
h5 {
font-size: 1.2rem;
}
h6 {
font-size: 1.1rem;

}
